[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "themes/amazing"]
	path = themes/amazing
	url = https://github.com/leiax00/hexo-theme-amazing.git